.pixel {
    border: 1px black solid;
    height: 15px;
    width: 15px;
}

#colorGrid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.colorImage {
    height: 50px;
    width: 50px;
    margin-left: 5px;
}